*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{

background-image: linear-gradient(to right, rgb(65, 153, 43),rgb(9, 90, 16));
background-size: cover;
background-position: 0 20%;

}

nav{
    margin-top: 20px;
    display: flex;
    justify-content: center;

}

